<div>
  <div>
    <h1>
      List of all jobs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new job
    </h2>

    <form action="/insert_job" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="employer_id_box">
          Employer
        </label>

        <input type="text" id="employer_id_box" name="query_employer_id">
      </div>

      <div>
        <label for="start_date_box">
          Start date
        </label>

        <input type="date" id="start_date_box" name="query_start_date">
      </div>

      <div>
        <label for="end_date_box">
          End date
        </label>

        <input type="date" id="end_date_box" name="query_end_date">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="skills_box">
          Skills
        </label>

        <textarea id="skills_box" name="query_skills" rows="3"></textarea>
      </div>

      <button>
        Create job
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Employer
        </th>

        <th>
          Start date
        </th>

        <th>
          End date
        </th>

        <th>
          Description
        </th>

        <th>
          Skills
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_jobs.each do |a_job| %>
      <tr>
        <td>
          <%= a_job.id %>
        </td>

        <td>
          <%= a_job.title %>
        </td>

        <td>
          <%= a_job.employer_id %>
        </td>

        <td>
          <%= a_job.start_date %>
        </td>

        <td>
          <%= a_job.end_date %>
        </td>

        <td>
          <%= a_job.description %>
        </td>

        <td>
          <%= a_job.skills %>
        </td>

        <td>
          <%= time_ago_in_words(a_job.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_job.updated_at) %> ago
        </td>

        <td>
          <a href="/jobs/<%= a_job.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
