<div>
  <div>
    <h1 class="text-center">
      Build a career profile
    </h1>
  </div>
  For each resume, you can create a profile, which will show the jobs you wish to display.
</div>

<div class="container">
    <%= rails_db_data_table 'resumes', footer: false, 
          columns:['id', 'name', 'user_id', 'objective', 'display'],
          header: true,
          limit: 20,
          order_by: :id,
          order: :asc
    %>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new career profile
    </h2>

    <form action="/insert_experience" method="post" class="row gy-2 gx-3 align-items-center">
      <div class="col-auto">
        <label for="resume_id_box" class="form-label">
          Resume
        </label>

        <select name="query_resume_id" id="resume_id_box" class="form-control">
          <% Resume.all.order(:name).each do |resume| %>
            <option value="<%= resume.id %>">
              <%= resume.name %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="col-auto">
        <label for="job_id_box" class="form-label">
          Job
        </label>

        <select name="query_job_id" id="job_id_box" class="form-control">
          <% Job.all.order(:name).each do |job| %>
            <option value="<%= job.id %>">
              <%= job.title %>
            </option>
          <% end %>
        </select>
      </div>

      

      <div class="col-auto">
        <label for="display_order_box" class="form-label">
          Display order
        </label>

        <input type="text" id="display_order_box" name="query_display_order" class="form-control">
      </div>

      <div class="col-auto">
      <button type="submit" class="btn btn-primary">
        Create experience
      </button>
      </div>
    </form>
  </div>
</div>

<hr>
<div class="container">
    <%= rails_db_data_table 'jobs', footer: false, 
          columns:['id', 'title', 'description', 'skills'],
          header: true,
          limit: 20,
          order_by: :title,
          order: :asc
    %>
</div>

<hr>
