<div>
  <div>
    <h1>
      Resume #<%= @the_resume.id %> details
    </h1>

    <div>
      <div>
        <a href="/resumes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_resume/<%= @the_resume.id %>">
          Delete resume
        </a>
      </div>
    </div>

      </div>
</div>

<hr>

<div class="container">
<h1 class="text-center"> My resume </h1>

<h4> Objective:</h4>
<p></p>
<p class="lead">
<%= @the_resume.objective %></p>

<hr>

<% @the_resume.experiences.each do |exp| %>
<p class="fw-bold"><%= exp.job.employer.name %></p>
<span class="badge text-bg-primary"><%= exp.job.title %></span>
<p></p>
<%= exp.job.description %>
<p></p>
<%= "Skills: " + exp.job.skills %>
<hr>

<% end %>
</div>

<div>
  <div>

    <h2>
      Edit resume
    </h2>

    <form action="/modify_resume/<%= @the_resume.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_resume.name %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_resume.user_id %>">
      </div>

      <div>
        <input type="checkbox" id="display_box" name="query_display" value="1" <%= "checked" if @the_resume.display %>>

        <label for="display_box">
            Display
        </label>
      </div>

      <div>
        <label for="objective_box">
          Objective
        </label>

        <textarea id="objective_box" name="query_objective"><%= @the_resume.objective %></textarea>
      </div>

      <button>
        Update resume
      </button>
    </form>
  </div>
</div>

<hr>
